* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 80%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: row;
}

.container .infos {
    float: left;
    width: 50%;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.container .infos h1 span { 
    color: hsl(277, 64%, 61%);
}

.container .infos p {
    color: hsla(0, 0%, 100%, 0.75);
}

.container .infos .numbers {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container .infos .numbers div h3 {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}

.container #image {
    position: absolute;
    height: 100%;
    right: 0;
    background: hsl(298, 95%, 15%); 
    border-radius: 15px;
}

.container #image img {
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media screen and ( max-width: 375px ) {
    .container {
        flex-direction: column;
        height: 95%;
    }

    .container .infos {
        position: absolute;
        height: 60%;
        width: 80%;
        top: 30%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .container .infos p {
        margin: 20px 0px;
    }

    .container .infos .numbers {
        flex-direction: column;
    }

    .container .infos .numbers div {
        margin-top: 20px;
    }

    .container #image {
        height: 30%;
        top: 0;
    }

    .container #image img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}